* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

p {
    color:red;
    margin-left:15px;
    text-align:center;
}



button {
    background-color: red;
    color:black;
    padding:10px;
    margin:15px;
    border:0;
    border-radius:4px;
    cursor:pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ff1100;
    box-shadow: 0 5px 16px -5px #cec4c4;
}

.whitespace-area {
    width:100%;
    height:20px;
    margin-top: 80px;
}

.button-area {
    width:100%;
    text-align:center;
}


.Restart-button {
    border-radius: 16px;
}